.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  //grid-template-columns: subgrid;
  //grid-template-columns: repeat(3, 25%); // nie bedzie responsywne
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;

}

.feature {

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem; // row gap / column gap

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
    grid-column: 2 / -1;
  }
}
